body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
}

.wrapper {
    display: grid;
    grid-template-areas: "stack";
    width: 100%;
    height: 100vh;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.hidden {
    display: none !important;
}

#map {
    grid-area: stack;
    width: 100%;
    height: 100%;
}

#item_map {
    width: 100%;
    height: 400px;
}

#searchui {
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: start;
    justify-content: left;
    margin: 1rem;
    padding: 10px;
    flex-direction: column;
    overflow-y: auto;
    
}

#searchui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}

.gen_text {
    color: #2c2c2c;
}

.text_light {
    color: hsl(0, 0%, 0%);
    text-align: center;
}

#item_details, #menu {
    margin: 1rem;
    padding: 1rem;
    width: auto;
    height: auto;
    background-color: rgb(221, 221, 221);
    border: 0px;
    box-shadow: 0px 4px 10px #2c3e50
}

#login_popup, #logout_popup, #about_popup, #signup_popup {
    padding: 1rem;
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 4px 10px #2c3e50;
    border: 0px;
}

#item_image {
    max-width: 100%;
}

#gen_buttons_container {
    height: 100%;
    width: 100%;
}

#searchbox {
    height: 4em;
    background-color: gainsboro;
    border: 2px solid black;
}

.button_container_horizontal {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.button_container_vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#navigationoverview {
    box-shadow: 0px 4px 10px #2c3e50;
    background-color:rgb(221, 221, 221);
    padding: 3px;
    border-radius: 5px;
}

.section_container {
    border-bottom: 3px solid rgb(160, 160, 160);
    color: #2c3e50;
    font-family:'Georgia';
    font-size: 20px;
}

.nav_container {
    border-bottom: 3px solid rgb(173, 173, 173);
    border-top: 3px solid rgb(173, 173, 173);
    color: #2c3e50;
    font-family:'Georgia';
    font-size: 20px;
    text-align: center;
}

#section_title{
    border: 0px;
    font-size: 22px;
}

.menu_button, .button {
    height: 100%;
    border-radius: 12px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 1em;
}

.button {
    border: 0px;
    font-size: 13px;
    border-radius: 0px;
    background-color: rgb(221, 221, 221);
}

.title_container {
    text-align: center;
    width: 100%;
}

.main_title {
    text-align: center;
    color: purple;
}

.main_title {
    font-size: 24px;
}

.button:hover{
    color: purple;
}

.menu_button:hover {
    border-color: purple;
    color: purple;
}

.button_search {
    border: 0px;
    border-radius: 0px;
    background-color: rgb(221, 221, 221);
}

.button_search:hover {
    background-color: rgb(196, 163, 196);
}

.menu_button:active {
    font-size: 13px;
    border-width: 3px;
    border: 3px solid purple;
}

#gen_buttons_container {
    display: flex;
    width: 30%;
    gap: 15px;
}

.nav_buttons_container {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

.nav_buttons {
    width: 90%;
    margin-bottom: 5px;
}

.gen_button {
    align-self: flex-start; 
    border-radius: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-sizing: border-box;
    padding: 1em;
}

.menu_container {
    width: 100%;
    box-shadow: 0px 4px 10px #2c3e50;
    background-color: rgb(221, 221, 221);
}
.gen_button:hover {
    border: 2px solid purple;
    color: purple;
}

.gen_button:active {
    background-color: #9122ff1e;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.login-input-container input {
    padding: 10px;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
}

.input-label {
    font-weight: bold;
}

#input-title{
    text-align: center;
}

#searchbox {
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: 100%;
    
}

#searchresults_wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background: rgb(221, 221, 221);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0px 3px 3px #2c3e50;
    height: 30%;
}

#searchresults {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
}

#navigationui {
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
    min-width: 130px;
    width: 15%;
}

#navigationui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}

#saved_locations,
#all_locations,
#othersearch,
#recentsearches_div  {
    display: grid;
}

.geolocation_loader_container {
    position: fixed;
    left: 1em;
    bottom: 1em;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

.geolocation_loader_anim {
  border: 4px solid rgb(216, 216, 216);
  border-top: 4px solid purple;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
