body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-areas: "stack";
    width: 100%;
    height: 100vh;
}

#map {
    grid-area: stack;
    width: 100%;
    height: 100%;
}



.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: ;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#searchui {
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
    width: 200px;
}

#searchui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}

#item_details {
    height: 100%;
    width: 100%;
}

#searchbox {
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: inherit;
}

#searchresults_wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: 100%;
}

#searchresults {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
}

#navigationui {
    visibility: hidden;
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
    width: 200px;
}

#navigationui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}
