body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-areas: "stack";
    width: 100%;
    height: 100vh;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: ;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 1px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#map {
    grid-area: stack;
    width: 100%;
    height: 100%;
}

#searchui {
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
    width: 200px;
}

#searchui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}

#item_details, #all_locations_popover, #menu {
    height: 100%;
    width: 100%;
}

#gen_buttons_container {
    height: 100%;
    width: 100%;
}

#searchbox {
    height: 5%;
    background-color: gainsboro;
    border: 2px solid black;
}

.menu_button {
    width: 40%;
    height: 4%;
    border-radius: 5px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
}

.menu_button:hover {
    border-color: purple;
}

.menu_button:active {
    font-size: 13px;
    border-width: 3px;
    border: 3px solid purple;
}

#gen_buttons_container {
    display: flex;
    gap: 15px;
}

.nav_buttons_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gen_button {
    align-self: flex-start; 
    border-radius: 5px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    box-sizing: border-box;
}

.gen_button:hover {
    border: 2px solid purple;
}

.gen_button:active {
    background-color: #9122ff1e;
}

#menu {
    padding-top: 20px;
    background-color: rgb(226, 226, 226);
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.login-input-container input {
    padding: 10px;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
}

.input-label {
    font-weight: bold;
}

#input-title{
    text-align: center;
}

#searchbox {
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: inherit;
}

#searchresults_wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: 100%;
}

#searchresults {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
}

#navigationui {
    grid-area: stack;
    z-index: 10;
    pointer-events: none;
    align-items: start;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
    width: 200px;
}

#navigationui * {
  pointer-events: auto; /* re-enable interaction for children like input/buttons */
}

#saved_locations,
#all_locations,
#othersearch,
#recentsearches_div  {
    display: grid;
}
